<div class="row">
    <div class="col-sm-6 book ebook">
        <img src="assets/img/ebook.png" alt="">
    </div>
    <div class="col-sm-5 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Receba nosso conteúdo</h3>
                <p>{{cliente.nome}} seu cadastro foi efetuado!</p><br />
                <p>Você receberá um e-mail de disseminar@cinelive.com com instruções para baixar o material, assim que validarmos seu código do cupom.</p><br/>
                <p>Aproveite sua sessão!</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
    </div>
</div><!DOCTYPE html>

