<div class="row">
    <div class="col-sm-6 book ebook">
        <img src="assets/img/ebook.png" alt="">
    </div>
    <div class="col-sm-5 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Receba nosso conteúdo</h3>
                <p>Cadastre-se</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="form-bottom">
            <!-- Top content -->
            <form name="formCadastro" class="registration-form" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : formCadastro.firstName.$invalid && !formCadastro.firstName.$pristine }">
                    <label class="sr-only" for="firstName">Nome</label>
                    <input type="text" name="firstName" placeholder="Nome" class="firstName form-control" id="firstName" required ng-model="cliente.nome" ng-maxlength="20">
                    <p ng-show="formCadastro.firstName.$invalid && !formCadastro.firstName.$pristine" class="help-block">Nome é requerido, e com no máximo 20 caracteres.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : formCadastro.lastName.$invalid && !formCadastro.lastName.$pristine }">
                    <label class="sr-only" for="lastName">Último Sobrenome</label>
                    <input type="text" name="lastName" placeholder="Último Sobrenome" class="lastName form-control" id="lastName" required ng-model="cliente.sobrenome" ng-maxlength="40">
                    <p ng-show="formCadastro.lastName.$invalid && !formCadastro.lastName.$pristine" class="help-block">Último sobrenome é requerido, e com no máximo 40 caracteres.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : formCadastro.cpf.$invalid && !formCadastro.cpf.$pristine }">
                    <label class="sr-only" for="cpf">CPF</label>
                    <input type="text" name="cpf" placeholder="CPF (somente os números)" class="cpf form-control" id="cpf" required ng-model="cliente.cpf" ng-maxlength="11">
                    <p ng-show="formCadastro.cpf.$invalid && !formCadastro.cpf.$pristine" class="help-block">CPF é requerido, e com no máximo 11 caracteres.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : formCadastro.telefone.$invalid && !formCadastro.telefone.$pristine }">
                    <label class="sr-only" for="telefone">Telefone</label>
                    <input type="text" name="telefone" placeholder="Telefone" class="telefone form-control" id="telefone" ng-model="cliente.telefone" ng-maxlength="11">
                    <p ng-show="formCadastro.telefone.$invalid && !formCadastro.telefone.$pristine" class="help-block">Telefone deve ter no máximo 11 caracteres. Digite apenas números.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : formCadastro.cep.$invalid && !formCadastro.cep.$pristine }">
                    <label class="sr-only" for="cep">CEP</label>
                    <input type="text" name="cep" placeholder="CEP" class="cep form-control" id="cep" ng-model="cliente.cep" ng-maxlength="8">
                    <p ng-show="formCadastro.cep.$invalid && !formCadastro.cep.$pristine" class="help-block">CEP deve ter no máximo 8 caracteres. Digite apenas números.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : formCadastro.email.$invalid && !formCadastro.email.$pristine }">
                    <label class="sr-only" for="email">E-mail</label>
                    <input type="text" name="email" placeholder="E-mail" class="email form-control" id="email" required ng-model="cliente.email" ng-maxlength="100">
                    <p ng-show="formCadastro.email.$invalid && !formCadastro.email.$pristine" class="help-block">Digite um e-mail válido e com no máximo 100 caracteres.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : formCadastro.codigocupom.$invalid && !formCadastro.codigocupom.$pristine }">
                    <label class="sr-only" for="codigocupom">Código do cupom</label>
                    <input type="text" name="codigocupom" placeholder="Código do cupom de compra" class="codigocupom form-control" id="codigocupom" required ng-model="cliente.codigocupom" ng-maxlength="100">
                    <p ng-show="formCadastro.codigocupom.$invalid && !formCadastro.codigocupom.$pristine" class="help-block">Código do cupom requerido e com no máximo 100 caracteres.</p>
                </div>
                <button type="button" class="btn btnRed" ng-disabled="!formCadastro.$valid" ng-click="salva()">Cadastrar!</button>
                <!--<div class="form-group">
                    <label class="sr-only" for="form-last-name">Senha</label>
                    <input type="text" name="form-last-name" placeholder="Senha" class="form-last-name form-control" id="form-last-name" required ng-model="cliente.senha">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-email">Confirmar senha</label>
                    <input type="text" name="form-email" placeholder="Confirmar senha" class="form-email form-control" id="form-email" required ng-model="cliente.senha">
                </div>
                <button type="button" class="btn btnRed" ng-click="salva()">Cadastrar!</button>
                <!--<button type="submit" class="btn btnfacebook col-xs-6  col-sm-12 col-md-6 col-xs-12">Logar com Facebook!</button>-->
            </form>
        </div> <!-- Fim Formulário -->
    </div>
</div>